@model B2B_SCM.Models.Custom
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <style>
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Report</h4>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Date</label>
                            <div class="input-group" style="width: 500px">
                                @Html.TextBoxFor(model => model.DateFrom, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @id = "DateFrom" })
                                @Html.TextBoxFor(model => model.DateTo, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @id = "DateTo" })
                                <button type="button" class="btn waves-effect waves-light btn-primary" onclick="load_table()">Apply</button>
                            </div>
                        </div>
                    </div>
                    @*<div style="text-align: right">
                        </div>*@
                    <br />
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover nowrap" id="table_data_index" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>PURCHASE NO</th>
                                    <th>WHEAT NAME</th>
                                    <th>TRADE QTY</th>
                                    <th>FINAL QTY</th>
                                    <th>PRICE PER MT</th>
                                    <th>SHIPMENT FROM</th>
                                    <th>SHIPMENT TO</th>
                                    <th>ETD</th>
                                    <th>ETA</th>
                                    <th>VESSEL</th>
                                    <th>LOAD PORT</th>
                                    <th>DISC PORT</th>
                                    <th>CONTRACT NO</th>
                                    <th>CONTRACT DATE</th>
                                    <th>STATUS DESDEM</th>
                                    <th>INVOICE DUE DATE</th>
                                    <th>PAYMENT DATE</th>
                                    <th>SALES CONTRACT SELLER</th>
                                    <th>ADDENDUM CONTRACT SELLER</th>
                                    <th>SALES CONTRACT SHIPPER</th>
                                    <th>ADDENDUM CONTRACT SHIPPER</th>
                                    <th>DOCUMENT INSTRUCTIONS</th>
                                    <th>BL</th>
                                    <th>INVOICE</th>
                                    <th>PACKING LIST</th>
                                    <th>FUMIGATION CERT</th>
                                    <th>PHYTOSANITARY CERT</th>
                                    <th>PRIOR NOTICE</th>
                                    <th>CERTIFICATE OF ANALYSIS</th>
                                    <th>CERTIFICATE OF WEIGHT</th>
                                    <th>CERTIFICATE OF ORIGIN</th>
                                    <th>NON GMO CERT</th>
                                    <th>NON RADIATION CERT</th>
                                    <th>HUMAN CONSUMPTION CERT</th>
                                    <th>PESTICIDE RESIDUE CERT</th>
                                    <th>HOLD CLEANLINESS CERT</th>
                                    <th>CROP YEAR CERT</th>
                                    <th>HATCH SEALING CERT</th>
                                    <th>MYCOTOXIN CERT</th>
                                    <th>HEAVY METAL CERT</th>
                                    <th>TEST REPORT COA From Registered Lab</th>
                                    <th>OTHERS</th>
                                    <th>DEBIT NOTE</th>
                                    <th>MT103</th>
                                    <th>MT103 PAYMENT</th>
                                    <th>LAYTIME CALCULATION</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

    <script src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>
    <script>
        $(document).ready(function () {
            load_table();
        })

        function load_table() {
            var table = $('#table_data_index').DataTable();
            table.destroy();

            $('#table_data_index').DataTable({
                "ajax": {
                    "url": '@Url.Action("load_report", "home")?' + "fromDate=" + document.getElementById('DateFrom').value + "&toDate=" + document.getElementById('DateTo').value,
                    "type": "GET",
                    "datatype": "json",
                    dataSrc: function(data) {
                        return $.parseJSON(data.data);
                    }
                },
                "columns": [
                    {
                        "data": "PURCHASE_NO", "autoWidth": true,
                    },
                    {
                        "data": "WHEAT_NAME", "autoWidth": true,
                    },
                    {
                        "data": "TRADE_QTY", "autoWidth": true,
                    },
                    {
                        "data": "FINAL_QTY", "autoWidth": true,
                    },
                    {
                        "data": "PRICE_PER_MT", "autoWidth": true,
                    },
                    {
                        "data": "SHIPMENT_FROM", "autoWidth": true,
                    },
                    {
                        "data": "SHIPMENT_TO", "autoWidth": true,
                    },
                    {
                        "data": "ETD", "autoWidth": true,
                    },
                    {
                        "data": "ETA", "autoWidth": true,
                    },
                    {
                        "data": "VESSEL", "autoWidth": true,
                    },
                    {
                        "data": "LOAD_PORT", "autoWidth": true,
                    },
                    {
                        "data": "DISC_PORT", "autoWidth": true,
                    },
                    {
                        "data": "CONTRACT_NO", "autoWidth": true,
                    },
                    {
                        "data": "CONTRACT_DATE", "autoWidth": true,
                    },
                    {
                        "data": "STATUS_DESDEM", "autoWidth": true,
                    },
                    {
                        "data": "INVOICE_DUE_DATE", "autoWidth": true,
                    },
                    {
                        "data": "PAYMENT_DATE", "autoWidth": true,
                    },
                    {
                        "data": "SALES_CONTRACT_SELLER", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.SALES_CONTRACT_SELLER.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.SALES_CONTRACT_SELLER +' </span>';
                            }
                            else if (row.SALES_CONTRACT_SELLER.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.SALES_CONTRACT_SELLER +' </span>';
                            }
                            else if (row.SALES_CONTRACT_SELLER.includes("Delete")) {
                                return '<span style="color: black"> ' + row.SALES_CONTRACT_SELLER +' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.SALES_CONTRACT_SELLER +' </span>';
                            }
                        }
                    },
                    {
                        "data": "ADDENDUM_CONTRACT_SELLER", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.ADDENDUM_CONTRACT_SELLER.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.ADDENDUM_CONTRACT_SELLER + ' </span>';
                            }
                            else if (row.ADDENDUM_CONTRACT_SELLER.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.ADDENDUM_CONTRACT_SELLER + ' </span>';
                            }
                            else if (row.ADDENDUM_CONTRACT_SELLER.includes("Delete")) {
                                return '<span style="color: black"> ' + row.ADDENDUM_CONTRACT_SELLER + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.ADDENDUM_CONTRACT_SELLER + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "SALES_CONTRACT_SHIPPER", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.SALES_CONTRACT_SELLER.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.SALES_CONTRACT_SELLER + ' </span>';
                            }
                            else if (row.SALES_CONTRACT_SELLER.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.SALES_CONTRACT_SELLER + ' </span>';
                            }
                            else if (row.SALES_CONTRACT_SELLER.includes("Delete")) {
                                return '<span style="color: black"> ' + row.SALES_CONTRACT_SELLER + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.SALES_CONTRACT_SELLER + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "ADDENDUM_CONTRACT_SHIPPER", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.ADDENDUM_CONTRACT_SHIPPER.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.ADDENDUM_CONTRACT_SHIPPER + ' </span>';
                            }
                            else if (row.ADDENDUM_CONTRACT_SHIPPER.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.ADDENDUM_CONTRACT_SHIPPER + ' </span>';
                            }
                            else if (row.ADDENDUM_CONTRACT_SHIPPER.includes("Delete")) {
                                return '<span style="color: black"> ' + row.ADDENDUM_CONTRACT_SHIPPER + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.ADDENDUM_CONTRACT_SHIPPER + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "DOCUMENT_INSTRUCTIONS", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.DOCUMENT_INSTRUCTIONS.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.DOCUMENT_INSTRUCTIONS + ' </span>';
                            }
                            else if (row.DOCUMENT_INSTRUCTIONS.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.DOCUMENT_INSTRUCTIONS + ' </span>';
                            }
                            else if (row.DOCUMENT_INSTRUCTIONS.includes("Delete")) {
                                return '<span style="color: black"> ' + row.DOCUMENT_INSTRUCTIONS + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.DOCUMENT_INSTRUCTIONS + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "BL", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.BL.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.BL + ' </span>';
                            }
                            else if (row.BL.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.BL + ' </span>';
                            }
                            else if (row.BL.includes("Delete")) {
                                return '<span style="color: black"> ' + row.BL + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.BL + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "INVOICE", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.INVOICE.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.INVOICE + ' </span>';
                            }
                            else if (row.INVOICE.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.INVOICE + ' </span>';
                            }
                            else if (row.INVOICE.includes("Delete")) {
                                return '<span style="color: black"> ' + row.INVOICE + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.INVOICE + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "PACKING_LIST", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.PACKING_LIST.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.PACKING_LIST + ' </span>';
                            }
                            else if (row.PACKING_LIST.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.PACKING_LIST + ' </span>';
                            }
                            else if (row.PACKING_LIST.includes("Delete")) {
                                return '<span style="color: black"> ' + row.PACKING_LIST + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.PACKING_LIST + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "FUMIGATION_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.FUMIGATION_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.FUMIGATION_CERT + ' </span>';
                            }
                            else if (row.FUMIGATION_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.FUMIGATION_CERT + ' </span>';
                            }
                            else if (row.FUMIGATION_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.FUMIGATION_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.FUMIGATION_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "PHYTOSANITARY_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.PHYTOSANITARY_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.PHYTOSANITARY_CERT + ' </span>';
                            }
                            else if (row.PHYTOSANITARY_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.PHYTOSANITARY_CERT + ' </span>';
                            }
                            else if (row.PHYTOSANITARY_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.PHYTOSANITARY_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.PHYTOSANITARY_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "PRIOR_NOTICE", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.PRIOR_NOTICE.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.PRIOR_NOTICE + ' </span>';
                            }
                            else if (row.PRIOR_NOTICE.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.PRIOR_NOTICE + ' </span>';
                            }
                            else if (row.PRIOR_NOTICE.includes("Delete")) {
                                return '<span style="color: black"> ' + row.PRIOR_NOTICE + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.PRIOR_NOTICE + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "CERTIFICATE_OF_ANALYSIS", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.CERTIFICATE_OF_ANALYSIS.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.CERTIFICATE_OF_ANALYSIS + ' </span>';
                            }
                            else if (row.CERTIFICATE_OF_ANALYSIS.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.CERTIFICATE_OF_ANALYSIS + ' </span>';
                            }
                            else if (row.CERTIFICATE_OF_ANALYSIS.includes("Delete")) {
                                return '<span style="color: black"> ' + row.CERTIFICATE_OF_ANALYSIS + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.CERTIFICATE_OF_ANALYSIS + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "CERTIFICATE_OF_WEIGHT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.CERTIFICATE_OF_WEIGHT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.CERTIFICATE_OF_WEIGHT + ' </span>';
                            }
                            else if (row.CERTIFICATE_OF_WEIGHT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.CERTIFICATE_OF_WEIGHT + ' </span>';
                            }
                            else if (row.CERTIFICATE_OF_WEIGHT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.CERTIFICATE_OF_WEIGHT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.CERTIFICATE_OF_WEIGHT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "CERTIFICATE_OF_ORIGIN", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.CERTIFICATE_OF_ORIGIN.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.CERTIFICATE_OF_ORIGIN + ' </span>';
                            }
                            else if (row.CERTIFICATE_OF_ORIGIN.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.CERTIFICATE_OF_ORIGIN + ' </span>';
                            }
                            else if (row.CERTIFICATE_OF_ORIGIN.includes("Delete")) {
                                return '<span style="color: black"> ' + row.CERTIFICATE_OF_ORIGIN + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.CERTIFICATE_OF_ORIGIN + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "NON_GMO_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.NON_GMO_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.NON_GMO_CERT + ' </span>';
                            }
                            else if (row.NON_GMO_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.NON_GMO_CERT + ' </span>';
                            }
                            else if (row.NON_GMO_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.NON_GMO_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.NON_GMO_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "NON_RADIATION_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.NON_RADIATION_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.NON_RADIATION_CERT + ' </span>';
                            }
                            else if (row.NON_RADIATION_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.NON_RADIATION_CERT + ' </span>';
                            }
                            else if (row.NON_RADIATION_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.NON_RADIATION_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.NON_RADIATION_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "HUMAN_CONSUMPTION_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.HUMAN_CONSUMPTION_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.HUMAN_CONSUMPTION_CERT + ' </span>';
                            }
                            else if (row.HUMAN_CONSUMPTION_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.HUMAN_CONSUMPTION_CERT + ' </span>';
                            }
                            else if (row.HUMAN_CONSUMPTION_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.HUMAN_CONSUMPTION_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.HUMAN_CONSUMPTION_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "PESTICIDE_RESIDUE_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.PESTICIDE_RESIDUE_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.PESTICIDE_RESIDUE_CERT + ' </span>';
                            }
                            else if (row.PESTICIDE_RESIDUE_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.PESTICIDE_RESIDUE_CERT + ' </span>';
                            }
                            else if (row.PESTICIDE_RESIDUE_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.PESTICIDE_RESIDUE_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.PESTICIDE_RESIDUE_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "HOLD_CLEANLINESS_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.HOLD_CLEANLINESS_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.HOLD_CLEANLINESS_CERT + ' </span>';
                            }
                            else if (row.HOLD_CLEANLINESS_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.HOLD_CLEANLINESS_CERT + ' </span>';
                            }
                            else if (row.HOLD_CLEANLINESS_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.HOLD_CLEANLINESS_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.HOLD_CLEANLINESS_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "CROP_YEAR_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.CROP_YEAR_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.CROP_YEAR_CERT + ' </span>';
                            }
                            else if (row.CROP_YEAR_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.CROP_YEAR_CERT + ' </span>';
                            }
                            else if (row.SALES_CONTRACT_SELLER.includes("Delete")) {
                                return '<span style="color: black"> ' + row.CROP_YEAR_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.CROP_YEAR_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "HATCH_SEALING_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.HATCH_SEALING_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.HATCH_SEALING_CERT + ' </span>';
                            }
                            else if (row.HATCH_SEALING_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.HATCH_SEALING_CERT + ' </span>';
                            }
                            else if (row.HATCH_SEALING_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.HATCH_SEALING_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.HATCH_SEALING_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "MYCOTOXIN_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.MYCOTOXIN_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.MYCOTOXIN_CERT + ' </span>';
                            }
                            else if (row.MYCOTOXIN_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.MYCOTOXIN_CERT + ' </span>';
                            }
                            else if (row.MYCOTOXIN_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.MYCOTOXIN_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.MYCOTOXIN_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "HEAVY_METAL_CERT", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.HEAVY_METAL_CERT.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.HEAVY_METAL_CERT + ' </span>';
                            }
                            else if (row.HEAVY_METAL_CERT.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.HEAVY_METAL_CERT + ' </span>';
                            }
                            else if (row.HEAVY_METAL_CERT.includes("Delete")) {
                                return '<span style="color: black"> ' + row.HEAVY_METAL_CERT + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.HEAVY_METAL_CERT + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "TEST_REPORT_COA_FROM_REGISTERED_LAB", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.TEST_REPORT_COA_FROM_REGISTERED_LAB.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.TEST_REPORT_COA_FROM_REGISTERED_LAB + ' </span>';
                            }
                            else if (row.TEST_REPORT_COA_FROM_REGISTERED_LAB.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.TEST_REPORT_COA_FROM_REGISTERED_LAB + ' </span>';
                            }
                            else if (row.TEST_REPORT_COA_FROM_REGISTERED_LAB.includes("Delete")) {
                                return '<span style="color: black"> ' + row.TEST_REPORT_COA_FROM_REGISTERED_LAB + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.TEST_REPORT_COA_FROM_REGISTERED_LAB + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "OTHERS", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.OTHERS.includes("DRAFT")) {
                                return '<span style="color: #bb8f4e"> ' + row.OTHERS + ' </span>';
                            }
                            else if (row.OTHERS.includes("NEED REVISED")) {
                                return '<span style="color: red"> ' + row.OTHERS + ' </span>';
                            }
                            else if (row.OTHERS.includes("Delete")) {
                                return '<span style="color: black"> ' + row.OTHERS + ' </span>';
                            }
                            else {
                                return '<span style="color: #3db51f"> ' + row.OTHERS + ' </span>';
                            }
                        }
                    },
                    {
                        "data": "DEBIT_NOTE", "autoWidth": true,
                        //mRender: function (data, type, row) {
                        //    if (row.DEBIT_NOTE.includes("DRAFT")) {
                        //        return '<span style="color: #bb8f4e"> ' + row.DEBIT_NOTE + ' </span>';
                        //    }
                        //    else if (row.DEBIT_NOTE.includes("NEED REVISED")) {
                        //        return '<span style="color: red"> ' + row.DEBIT_NOTE + ' </span>';
                        //    }
                        //    else if (row.DEBIT_NOTE.includes("Delete")) {
                        //        return '<span style="color: black"> ' + row.DEBIT_NOTE + ' </span>';
                        //    }
                        //    else {
                        //        return '<span style="color: #3db51f"> ' + row.DEBIT_NOTE + ' </span>';
                        //    }
                        //}
                    },
                    {
                        "data": "MT103", "autoWidth": true,
                        //mRender: function (data, type, row) {
                        //    if (row.MT103.includes("DRAFT")) {
                        //        return '<span style="color: #bb8f4e"> ' + row.MT103 + ' </span>';
                        //    }
                        //    else if (row.MT103.includes("NEED REVISED")) {
                        //        return '<span style="color: red"> ' + row.MT103 + ' </span>';
                        //    }
                        //    else if (row.MT103.includes("Delete")) {
                        //        return '<span style="color: black"> ' + row.MT103 + ' </span>';
                        //    }
                        //    else {
                        //        return '<span style="color: #3db51f"> ' + row.MT103 + ' </span>';
                        //    }
                        //}
                    },
                    {
                        "data": "MT103_PAYMENT", "autoWidth": true,
                        //mRender: function (data, type, row) {
                        //    if (row.MT103_PAYMENT.includes("DRAFT")) {
                        //        return '<span style="color: #bb8f4e"> ' + row.MT103_PAYMENT + ' </span>';
                        //    }
                        //    else if (row.MT103_PAYMENT.includes("NEED REVISED")) {
                        //        return '<span style="color: red"> ' + row.MT103_PAYMENT + ' </span>';
                        //    }
                        //    else if (row.MT103_PAYMENT.includes("Delete")) {
                        //        return '<span style="color: black"> ' + row.MT103_PAYMENT + ' </span>';
                        //    }
                        //    else {
                        //        return '<span style="color: #3db51f"> ' + row.MT103_PAYMENT + ' </span>';
                        //    }
                        //}
                    },
                    {
                        "data": "LAYTIME_CALCULATION", "autoWidth": true,
                        //mRender: function (data, type, row) {
                        //    if (row.LAYTIME_CALCULATION.includes("DRAFT")) {
                        //        return '<span style="color: #bb8f4e"> ' + row.LAYTIME_CALCULATION + ' </span>';
                        //    }
                        //    else if (row.LAYTIME_CALCULATION.includes("NEED REVISED")) {
                        //        return '<span style="color: red"> ' + row.LAYTIME_CALCULATION + ' </span>';
                        //    }
                        //    else if (row.LAYTIME_CALCULATION.includes("Delete")) {
                        //        return '<span style="color: black"> ' + row.LAYTIME_CALCULATION + ' </span>';
                        //    }
                        //    else {
                        //        return '<span style="color: #3db51f"> ' + row.LAYTIME_CALCULATION + ' </span>';
                        //    }
                        //}
                    },
                ],
                "bLengthChange": true,
                "bFilter": true,
                "order": [[0, "desc"]],
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        extend: 'excel',
                        className: 'btn btn-dark rounded-0',
                        text: '<i class="far fa-file-pdf"></i> Excel'
                    },
                    {
                        extend: 'pdf',
                        className: 'btn btn-dark rounded-0',
                        text: '<i class="far fa-file-pdf"></i> Pdf'
                    },
                    {
                        extend: 'csv',
                        className: 'btn btn-dark rounded-0',
                        text: '<i class="fas fa-file-csv"></i> CSV'
                    },
                    {
                        extend: 'print',
                        className: 'btn btn-dark rounded-0',
                        text: '<i class="fas fa-print"></i> Print'
                    }
                ],
                scrollX: true,
            });
        }
    </script>

}